<head>
    <title>{{ page.title | default: site.title }}</title>
    <link rel="shortcut icon" type="image/x-icon" href="{{ '/images/favicon.ico' | relative_url }}" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <meta name="keywords" content="tan jia dian, jia dian tan, jia dian site, thejayden, jayden tan, jia dian">
    {% seo %}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/devicon.min.css" />
    <link rel="stylesheet" href="{{ '/assets/css/main.css' | relative_url }}" />
    <link rel="stylesheet" href="{{ '/assets/css/custom.css' | relative_url }}" />
    <link rel="stylesheet" href="{{ '/assets/css/tailwind.min.css' | relative_url }}" />
    <noscript><link rel="stylesheet" href="{{ '/assets/css/noscript.css' | relative_url }}" /></noscript>
</head>
